<div class="full top left fixed">
    <app-menu [menuLeft]="addNew"></app-menu>
    <div class="grid full" >
        <div class="table" [ngStyle]="{'height': collapsed ? '100%' : '84%'}">
            <app-table [programs]="programs"></app-table>
        </div>
        <div class="tab-bar" [ngStyle]="{'height': collapsed ? '0%' : '8%'}" (mouseover)="expand()">
            <app-tabs (activation)="loadPage($event)"></app-tabs>
        </div>
        <div class="control" [ngStyle]="{'height': collapsed ? '0%' : '8%'}" (mouseover)="expand()">
            <a class="content-centered full" (click)="addNewProgram()">Add New</a>
            <a class="content-centered full" (click)="update()">update</a>
        </div>
    </div>
    <div class="x round" (click)="expand()">
        <div class="caret"></div>
    </div>
    <app-loader [loading]="loading" ></app-loader>
    <app-add-new (closed)="addNew = false" *ngIf="addNew"></app-add-new>
    <app-select></app-select>
</div>