<div class="container full fixed top left darker-overlay">
    <div class="cut round right--padding top--padding fixed">
        <app-cut (closed)="closed.emit()"></app-cut>
    </div>
    <div class="cell">
        <div class="header">* Marked fields are mendatory</div>
        <div class="content">
            <div class="flex-row">
                <div class="box box--half margin--small">
                    <div class="cell margin--small">
                        <div class="header">Name*</div>
                        <div class="content">
                            <input [(ngModel)]="program.name" type="text">
                        </div>
                    </div>
                    
                    <div class="cell margin--small">
                        <div class="header">Description</div>
                        <div class="content">
                            <textarea [(ngModel)]="program.description" cols="10" rows="4"></textarea>
                        </div>
                    </div>
                    
                    <div class="cell margin--small">
                        <div class="header">Categories</div>
                        <div class="content padding--small">
                            <app-chip-set [chips]="program.categories" (chipDelete)="removeCategory($event)"></app-chip-set>
                            <a class="addNew" (click)="showCatPanel()">add +</a>
                        </div>
                    </div>
                    <div class="cell margin--small">
                        <div class="header">Organs</div>
                        <div class="content padding--small">
                            <app-chip-set [chips]="program.organs" (chipDelete)="removeOrgan($event)"></app-chip-set>
                            <a class="addNew" (click)="showOrgPanel()">add +</a>
                        </div>
                    </div>
                </div>
                
                <div class="box box--half margin--small">
                    <div class="cell margin--small">
                        <div class="header">Frequencies*</div>
                        <div class="content padding--small">
                            <table>
                                <tr>
                                    <th>Frequency</th>
                                    <th>Time(s)</th>
                                </tr>
                                <tr *ngFor="let frequency of program.frequencies; index as i">
                                    <td>{{frequency.v}}</td>
                                    <td>
                                        {{frequency.t}}
                                        <div class="delete" (click)="deleteFrequency(i)">
                                            <img src="./../../../assets/icon/delete.svg" alt="">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input [(ngModel)]="freq.v" type="number"></td>
                                    <td><input [(ngModel)]="freq.t" type="number"></td>
                                </tr>
                            </table>
                            <div class="addNew" (click)="addFrequency()">+</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-row">
                <div class="box box--two-third"></div>
                <div class="box box--one-third padding--medium"><a class="addNew">Add</a></div>
            </div>
        </div>
    </div>
    <app-select (selected)="setOrgans($event)" [options]="panel.org.options" *ngIf="panel.org.show"></app-select>
    <app-select (selected)="setCategories($event)" [options]="panel.cat.options" *ngIf="panel.cat.show"></app-select>
    <app-loader *ngIf="loading"></app-loader>
</div>