<div class="full top left fixed content-centered dark-overlay">
    <div class="content">
        <div class="header">{{heading}}</div>
        <div class="content-centered full no-options" *ngIf="!options.length">No options available</div>
        <div class="options">
            <div class="option" *ngFor="let option of options" (click)="toggle(option)">
                <div class="select round">
                    <div class="bulb round" [class.selected]="option.selected" ></div>
                </div>
                <div class="name">{{option.value}}</div>
            </div>
        </div>
        <div class="control"><a (click)="submit()">{{!options.length ? 'cancel' : 'Submit'}}</a></div>
    </div>
</div>