$themeColor: var(--theme-color);
.content {
    color: white;
    height: 16rem;
    background-color: black;
    overflow: hidden;
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 2rem $themeColor;
    .header {
        padding: .4rem;
        text-align: center;
        color: $themeColor;
        width: 100%;
        border-bottom: 1px solid $themeColor;
    }
    .no-options {
        color: rgba(#fff, .4);
    }
    .options {
        height: 100%;
        padding: 1rem;
        overflow: scroll;
        min-width: 18rem;
        .option {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: .4rem;
            margin: .4rem;
            cursor: pointer;
            .select {
                margin-right: 1rem;
                border: 2px solid $themeColor;
                padding: 4px;
                .bulb {
                    width: 1rem;
                    height: 1rem;
                    &.selected {
                        background-color: $themeColor;
                    }
                }
            }
        }
    }
    .control {
        width: 100%;
        padding: .4rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
            padding: .4rem;
            background-color: rgb(255, 136, 0);
            color: white;
            border-radius: .4rem;
            cursor: pointer;
            display: block;
            text-align: center;
            &:hover {                    
                background-color: rgb(212, 74, 0);
            }
            &:active {
                background-color: white;
                color: $themeColor;
            }
        }
    }
}