* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --theme-color: rgb(245, 88, 88);
    --theme-secondary-color: rgb(255, 171, 60);
    // --theme-color: rgb(255, 0, 55);
}

::-webkit-scrollbar {
    display: none;
}

.content-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    width: 100%;
    height: 100%;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.left {
    left: 0;
}
.left--padding {
    left: 1rem;
}

.right {
    right: 0;
}
.right--padding {
    right: 1rem;
}

.top {
    top: 0;
}
.top--padding {
    top: 1rem;
}

.bottom {
    bottom: 0;
}
.bottom--padding {
    bottom: 1rem;
}

.scroll-bar {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.dark-overlay {
    background-color: rgba(#000, .4);
}
.round {
    border-radius: 100rem;
}
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cell {
    position: relative;
    border: 2px solid var(--theme-secondary-color);
    display: block;
    .header {
        padding: .4rem;
        width: 100%;
        background-color: var(--theme-secondary-color);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        &--secondary {
            background-color: var(--theme-secondary-color);
        }
    }
    .content {
        background-color: rgba(#000, .8);
        width: 100%;
    }
}

.flex-row {
    display: flex;
}
.box {
    position: relative;
    width: 100%;
    &--half {
        width: 50%;
    }
    &--one-third {
        width: 33.33%;
    }
    &--two-third {
        width: 66.67%;
    }
}

.test-box {
    border: 2px solid black;
    background-color: red;
    padding: 2rem;
}

.padding {
    &--small {
        padding: .4rem;
    }
    &--medium {
        padding: 1rem;
    }
    &--large {
        padding: 4rem;
    }
}
.margin {
    &--small {
        margin: .4rem;
    }
    &--medium {
        margin: 1rem;
    }
    &--large {
        margin: 4rem;
    }
}
textarea {
    width: 100%;
    padding: .4rem;
    background-color: transparent;
    border: 2px solid rgb(255, 143, 143);
    color: white;
    &:focus {
        border: 2px solid var(--theme-color);
        outline: none;
    }
}
input {
    width: 100%;
    padding: .4rem;
    background-color: transparent;
    border: 2px solid rgb(255, 143, 143);
    color: white;
    text-align: center;
    &:focus {
        border: 2px solid var(--theme-color);
        outline: none;
    }
}

.addNew {
    padding: .4rem;
    background-color: rgb(255, 136, 0);
    color: white;
    border-radius: .4rem;
    cursor: pointer;
    display: block;
    text-align: center;
    &:hover {                    
        background-color: rgb(212, 74, 0);
    }
    &:active {
        background-color: white;
        color: var(--theme-color);
    }
}

.darker-overlay {
    background-color: rgba(#000, .7);
}
.darkest-overlay {
    background-color: rgba(#000, .95);
}