<div class="overlay" [class.overlay--collapsed]="menuCollapsed" [class.overlay--opened]="!menuCollapsed"
    >
    
    <div class="menu"[class.menu--collapsed]="menuCollapsed" [class.menu--opened]="!menuCollapsed">
        <div class="header">Categories</div>
        <div class="content">
            <input type="text" [(ngModel)]="catName" placeholder="category name">
            <a (click)="addNew()" [ngStyle]="{'width': '100%'}" class="add new">Add New +</a>
            <div class="spn" *ngIf="loading">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div *ngFor="let category of categories" class="device">
                <div class="name">{{ category }}<div (click)="deleteCategory(category)">x</div></div>
            </div>
        </div>
    </div>
</div>
<div class="icon" (click)="menuCollapsed=!menuCollapsed" [ngStyle]="{'left': menuLeft ? '1rem' : undefined, 'right': !menuLeft ? '1rem' : undefined}">
    <span [class.active]="!menuCollapsed"></span>
    <span [class.active]="!menuCollapsed"></span>
    <span [class.active]="!menuCollapsed"></span>
</div>
