$themeColor: var(--theme-color);
.container {
    background: linear-gradient(to right bottom, black, $themeColor);
    overflow: scroll;
    padding: 2rem;
    @media (max-width: 600px) {
        padding: 0;
    }
    & > * {
        text-align: left;
    }
    table {
        width: 100%;
        tr {
            .addNew {
                padding: .4rem;
                background-color: rgb(255, 136, 0);
                color: white;
                border-radius: .4rem;
                cursor: pointer;
                display: block;
                text-align: center;
                &:hover {                    
                    background-color: rgb(212, 74, 0);
                }
                &:active {
                    background-color: white;
                    color: $themeColor;
                }
            }
            width: 100%;
            .serial {
                width: 4%;
            }
            .name {
                width: 20%;
            }
            .description {
                width: 30%;
                padding: .4rem;
                textarea {
                    width: 100%;
                    padding: .4rem;
                    background-color: transparent;
                    border: 2px solid rgb(255, 143, 143);
                    border-radius: .4rem;
                    color: white;
                    &:focus {
                        border: 2px solid $themeColor;
                        outline: none;
                    }
                }
            }
            .category {
                width: 28%;
            }
            .organ {
                width: 28%;
            }
            background-color: black;
            border: 1px solid $themeColor;
            th {
                padding: .4rem;
                background-color: $themeColor;
                color: black;
            }
            td {  
                padding: .4rem;
                color: white;
            }
        }
    }
}