$themeColor: var(--theme-color);
.container {
    background: linear-gradient(to right bottom, black, $themeColor);
    overflow: scroll;
    padding: 2rem;
    @media (max-width: 600px) {
        padding: 0;
    }
    & > * {
        text-align: left;
    }
    table {
        width: 100%;
        tr {
            width: 100%;
            .serial {
                width: 4%;
            }
            .name {
                width: 20%;
            }
            .description {
                width: 30%;
                padding: .4rem;
            }
            .category {
                width: 28%;
            }
            .organ {
                width: 28%;
            }
            background-color: black;
            border: 1px solid $themeColor;
            th {
                padding: .4rem;
                background-color: $themeColor;
                color: black;
            }
            td {  
                padding: .4rem;
                color: white;
            }
        }
    }
}