<div class="container absolute full left top">
    <table>
        <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>Description</th>
            <th>Categories</th>
            <th>Organs</th>
        </tr>
        <tr *ngFor="let program of programs">
            <td class="serial">{{program.index}}</td>
            <td class="name">{{program.name}}</td>
            <td class="description">
                <textarea [(ngModel)]="program.description" cols="30" rows="4"></textarea></td>
            <td class="category">{{program.categories}}</td>
            <td class="organ">{{program.organs}}</td>
        </tr>
    </table>
</div>